accelerate
beautifulsoup4
bert-score
bitsandbytes
datasets
einops
evaluate
ipykernel
nltk
numpy
optuna
optuna-dashboard
optuna-integration[pytorch_lightning]
pandas
peft
psutil
requests
rouge-score
safetensors
scikit-learn
seaborn
sentencepiece
tensorboard
tf-keras
torch
tqdm
transformers
unsloth